alembic
blinker
click
colorama
Flask
Flask-Mail
Flask-Migrate
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
greenlet
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python
mysqlclient
packaging
pluggy
PyMySQL
pytest
SQLAlchemy
typing_extensions
Werkzeug
WTForms
